.background {
  background: hsl(var(--main-blue));
}

.card {
  background: hsl(var(--card-blue));
}

.text {
  color: hsl(var(--soft-blue));
}

.eth {
  color: hsl(var(--cyan));
}
.separator {
  background: hsl(var(--line-blue));
}
.cyan:hover {
  color: hsl(var(--cyan));
}
.background_cyan {
  background: hsl(var(--cyan));
}
